[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
jupyterlab = "*"
python-dotenv = "*"
jupyter = "*"
ipython = "*"
pymongo = "*"
pandas = "*"
django-pandas = "*"
tqdm = "*"
djangorestframework = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
